.*
~*
*.sublime-project
*.sublime-workspace
*.cache
.gitignore
/PSD/
/assets/
/backup/
*.gif
*.png
*.ico

public/*
wp-content/*
languages/
uploads/
!wp-content/
plugins/*
!wp-content/plugins/
wp-content/themes/*
!wp-content/themes/
!wp-content/themes/cargo/
!wp-content/themes/cargo/*
!wp-content/themes/cargo/woocommerce/
public/wp-content/themes/twentyfifteen/
public/wp-content/themes/twentyseventeen/
public/wp-content/themes/twentysixteen/
public/wp-content/themes/storefront/
public/wp-content/themes/zapchasti/
public/wp-content/themes/zapchasti1/
public/wp-content/themes/index.php
public/wp-content/index.php
public/wp-content/db.php

public/wp-content/plugins/