@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&subset=cyrillic')

$blue: #37B8EE
$navy: #04429F

button
  cursor: pointer

.btn
  font-size: 14px
  font-weight: bold
  text-transform: uppercase
  border-radius: 20px
  padding: 7px 40px
  border-width: 1px
  border-style: solid
  border-color: $blue
  background: $blue
  color: white

  &.btn-white-inverse
    border-color: white
    background: none
    color: white
    font-weight: normal

body
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif

#first-screen
  background: #04429F
  padding-top: 28px
  padding-bottom: 70px
  color: white

  .phone
    color: white
    font-weight: bold
    font-size: 22px

  time
    font-weight: lighter
    font-size: 14px

  h1
    font-weight: bold
    font-size: 50px
    margin-top: 70px

  .header-desc
    margin-top: 28px
    font-weight: bold
    font-size: 24px

  .offer-free
    margin-top: 28px
    font-weight: bold
    font-size: 24px
    line-height: 1
    margin-bottom: 0

  .offer
    margin-top: 10px
    line-height: 1
    font-weight: lighter
    font-size: 20px

  .free-check-form
    margin-top: 28px

  .form-check-label-privacy
    font-weight: lighter
    font-size: 12px
    cursor: pointer

  .privacy-check-link
    color: white
    text-decoration: underline